/*div {
    -webkit-box-shadow:inset 0px 0px 0px 1px #f00;
    -moz-box-shadow:inset 0px 0px 0px 1px #f00;
    box-shadow:inset 0px 0px 0px 1px #f00;
}*/
body {background-color:#000000;} 

#contentWrapper{
	width: 960px;
	height: 960px;
	margin-right: auto;
	margin-left: auto;
}